<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Aleks Nikiforov - stkudryashov">
    <meta name="description" content="Anonymous messaging service">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>{% block title %}letterbird{% endblock %}</title>


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
          rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top">
    <div class="container">
        <div>
            <img src="{% static 'img/bird.png' %}">
        </div>
        <div class="ml-3">

            <a class="navbar-brand pr-5" href="{% url 'homepage' %}">letterbird</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container">
    {% block content %}
        <div class="row">

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                {% if request.user.is_authenticated %}
                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categories</h5>
                        <div class="card-body">
                            <ul class="list-group mt-3">
                                <a href="#" class="list-group-item list-group-item-action">Сохраненные письма</a>
                                <a href="#" class="list-group-item list-group-item-action">Недавние просмотры</a>
                                <a href="#" class="list-group-item list-group-item-action">Мои сообщения</a>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Следуй правилам</h5>
                    <div class="card-body mt-3" align="justify">
                        Ты же не хочешь никого обидеть? Соблюдай правила и уважай желание пользователей быть анонимными.
                        Если какое-либо письмо кажется тебе подозрительным, нажми на кнопку и отправь его администрации.
                    </div>
                </div>
            </div>

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">{% block category %}Категория{% endblock %}</h1>
                <!-- Blog Post -->
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                            Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Письмо от January 1, 2020 by username
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                            Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Письмо от January 1, 2020 by username
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-text mt-3">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                            Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        Письмо от January 1, 2020 by username
                    </div>
                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>


        </div>
    {% endblock %}
</div>


<!-- Footer -->
<footer class="py-3 bg-color">
    <div class="container">
        <p class="m-0 text-center text-white">copyright &copy; letterbird 2021</p>
    </div>
</footer>


<!-- Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"
        integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossorigin="anonymous"></script>
</body>
</html>
