{% extends 'base.html' %}

{% block content %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">{% block category %}О сервисе{% endblock %}</h1>
        {% include 'inclusions/messages.html' %}
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text mt-3" align="justify">letterbird - сервис, где вы можете анонимно оставлять
                    сообщения для других пользователей. Это могут быть ваши мысли и мнение на какую-либо тему, дневник,
                    история из жизни и так далее, это решать вам.</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text mt-3">Правила сервиса:</p>
                <ul>
                    <li>Сообщения, содержащие ссылки, будут удалены из общего пула писем</li>
                    <li>Вы можете отправить не более одного сообщения раз в 20 минут</li>
                    <li>Запрещено призывать к раскрытию личных данных в сообщениях</li>
                    <li>После регистрации изменить имя пользователя будет невозможно</li>
                    <li>Любые попытки продажи чего-либо приведут к удалению аккаунта</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text mt-3">Спасибо, что ознакомились с правилами</p>
            </div>
            <div class="card-footer text-muted">С уважением, всегда ваш stkudryashov</div>
        </div>
    </div>
{% endblock %}
