{% extends 'base.html' %}

{% block title %}{{ block.super }} - регистрация{% endblock %}

{% block content %}
    <div class="col-md-4 py-4">
    <a id="nav" class="anchor"></a>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="card">
            <div class="card-header">
                Регистрация
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <button type="submit" class="btn btn-primary float-end mt-3">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
